body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black ;
    color: lightslategray;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    text-align: center;
    width: 300px;
    position: relative;
}
.counter{
    font-size: 40px;
    font-weight: bold;
}
.loading-bar-back{
    position: absolute;
    height: 8px;
    background-color: lightgray;
    width: 100%;    
    border-radius: 5px;
    border: none;
}

.loading-bar-front {
    position: absolute;
    height: 8px;
    background-color: orangered;
    width: 10%;
    border-radius: 5px;
    border: none;
}